* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #5ac8ff;
    padding: 20px 0;
    color: #000000;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    margin-bottom: 0.5em;
    
}

h2 {
    font-size: 2em;
    color: #000000;
    margin-top: 20px;
}

section {
    margin: 30px 0;

}

ul {
    list-style-type: none;
    margin-left: 20px;
}

li {
    margin: 10px 0;
}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: 0.9em;
    background-color: #07d140;
    padding: 20px 0;
    color: #000000;
}

/* Styling for images */
img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 10px auto;
}