small-image{
    display:flex;
    justify-content: center;
    margin: 100px;
    border:10px;
    


    

}
h1{

    text-align: center;
    background-color: olive;
    padding: 20px;

}
body{
  margin: 70px;


}

@media screen and (min-width: 800px){
    main{
        grid-template-columns: 1fr ;
        display:grid;
    
    }
    header{
        background-color: aquamarine;
    }
    

}
footer{
    text-align: center;
}