h1{
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

body{
    background-color: #d8f3dc;
    margin:0;
    width: 1200px;
   


}
.card{
    background-color: #95d5b2;
    padding: 10px;
    margin:5px;


}
footer{
    text-align: center;
    background-color: #1b4332;
    color:white;
    padding: 10px
}
main{
    padding: 10px;
    display:grid;
    display:grid;
    grid-template-columns: 50% 50%;
    
    


}

nav {
    background-color: #1b4332;
    color:white;
    display: flex;
    justify-content: space-around;

    
    

    a {
        text-decoration: none;
        color: white;
        margin: 5px
    }

    a:hover {
        color: black;
    }

}
html{
    display: flex;
    justify-content: center;
    
}
#aboutMeHeading{
    text-align: center;
}