body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  nav :hover{
    color: aqua;
    background-color: #000000;
    padding: 1px;
  }
  
  main {
    padding: 20px;
  }
  
  #temples-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
  
  .temple-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .temple-card img {
    width: 100%;
    border-radius: 5px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .temple-card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .temple-card p {
    font-size: 1rem;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  footer p {
    margin: 0;
  }
  h2{
    text-align: center;
  }
  
  