body{
    font-family: "Roboto", sans-serif;

}
header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;


}
main{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

}
section{
    padding: 1rem;
    background-color: #fff;
    border: 5px dotted #bbb;
    border-radius: 10px;
}
html{
    display:flex;
    justify-content: center;
}
header,footer{
    background-color: #e6f2ff;
}
